* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-grey: #ccc;
  --color-main: #007bff;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

@media (orientation: landscape) {
  .app {
    flex-direction: row;
  }
}
